.comments__wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 14px;
}

.comments__wrap:first-of-type {
	margin: 0;
}

.comments__first-items {
	border-left: 2px solid #C5963A;
	padding: 10px 30px 10px 10px;
	background-color: rgba(197, 150, 58, 0.2);
	text-decoration: none;
	color: #31393B;
	line-height: 24px;
	overflow: hidden;
}

.comments__first-items_deleted {
	font-style: italic;
}

.comments__first-items p:last-of-type {
	color: inherit;
	margin-bottom: 0;
}

.comments__first-items p a {
	text-decoration: none;
	color: inherit;
}

.comments__arrow {
	position: absolute;
	top: 10px;
	right: 10px;
}