body {
	background-color: #919C8F;
}

#root {
	max-width: 1440px;
	min-width: 320px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding: 0px 7%;
}

.button__reload {
	text-decoration: none;
	background-color: #31393B;
	border: #F1EFE8 solid 2px;
	border-radius: 5px;
	margin-left: auto;
	padding: 10px 40px;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 2px;
	color: #F1EFE8;
}

.button__reload:hover {
	box-shadow: 0 8px 10px #778074;
	color: #C5963A;
  transition: all .3s ease;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
	.button__reload{
		width: 100%;
	}
}